<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  {% set css %}{% include 'assets/app.css' %}{% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
<body>
  {% include 'components/header.njk' %}
  <main>
    {% block main %}{% endblock %}
  </main>
  {% include 'components/footer.njk' %}
  {% set js %}{% include 'assets/app.js' %}{% endset %}
  <script>{{ js | jsmin | safe }}</script>
</body>
</html>
