<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% set css %}{% include "app.css" %}{% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <title>{{ site.title }}</title>
</head>
<body>
  {% include "header.njk" %}
  <main>
  {% block content %}{% endblock %}
  </main>
  {% include "footer.njk" %}
  {% set js %}{% include "app.js" %}{% endset %}
  <script>{{ js | jsmin | safe }}</script>
  <script src="//instant.page/1.2.1" type="module" integrity="sha384-/IkE5iZAM/RxPto8B0nvKlMzIyCWtYocF01PbGGp1qElJuxv9J4whdWBRtzZltWn"></script>
</body>
</html>
